.wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
    
}

.menu li {
    margin-right: 15px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: inline-block;
    background-color: #FF7F50;
    color: #4B0082;
    padding: 10px 20px;
    font-weight: bold;
}
.column {
	column-count: 3;
	column-gap: 35px;
	column-width: 100px;
}
.border {
	border-right: 5px dotted rgb(145, 25, 25);
	border-left: 5px dotted rgb(145, 25, 25);
}

main div {
	width: 1140px;
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: center;
	
}
img {
	margin: 20px;
	width: 200px;
}
.right {
	float: right;
}
.left {
	float: left;
}

p {
	text-align: justify;
	margin: 0;
}
