.fruits{
    color: green;
 }
 
 .fiolet{
    color: violet;
 }


.varenik{
    padding-left: 23px;
}

.black { 
    color: black;
    text-decoration: none
}

.square{
    list-style-type: square;
}



